.container {
    width: 100%;
    height: 100%;
    padding-top: 30px;
}
.session-info {
    width: 30%;
    float:left;
}
.chart-box {
    width:60%;
    height: 400px;
    padding: 20px;
    float:left;
}
.session-buttons {
    padding: 20px 40px;
    background: blue;
    color: white; 
    border: none;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    border-radius: 3px;
}
.curren-number {
    margin-top: 50px;
    display: block;
    width: 60px;
    text-align: center;
    height: 60px;
    padding: 30px;
    font-size: 40px;
    font-weight: bold;
    border: 1px solid lightgray;
    border-radius: 5px; 
}


table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }

  table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  .info-dot {
      display: inline-block;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: black; 
      top: 4px;
      position: relative;
  }
  .red-dot {
      background-color: red;
  }
  .color-info {
    display: inline-block;
    margin-right: 30px;
  }
  .session-container {
      position: absolute;
      width: 100%;
      height: 100%;
      text-align: center;
      margin-top:300px;
  }
  header {
      width: 100%;
      height: 60px;
      line-height: 51px;
      border-bottom: 1px solid lightgray;
  }
  .footer {
    width: 100%;
    height: 60px;
    line-height: 51px;
    border-top: 1px solid lightgray;
  }
  .logo {
      font-size: 20px;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
  }