<header>
<span class="logo">
  Avantari technologies
</span>
</header>
<div class="container" *ngIf="sessionStatus != 'not_started'">

  <div class="chart-box">
    <canvas baseChart width="400" height="200" #baseChart
      [datasets]="lineChartData"
      [labels]="lineChartLabels"
      [options]="lineChartOptions"
      [colors]="lineChartColors"
      [legend]="lineChartLegend"
      [chartType]="lineChartType"
      [plugins]="lineChartPlugins">
    </canvas>
    <div class="label-info">
      <div class="color-info" >
      <div class="info-dot"></div> 0, 1, 2, 3, 4, 5, 6, 8, 9
    </div>
    <div class="color-info" >

      <div class="info-dot red-dot"></div> 7
      </div>
    </div>
    <div class="data-timeline" *ngIf="lineChartData && lineChartData[0] && lineChartData[0].data">
      <h3>Timeline (last 15 values)</h3>
      <span *ngFor="let data of lineChartData[0].data;let first=first"><span *ngIf="!first">, </span>{{data}}</span>
    </div>
  </div>
  <div class="session-info">
    <div *ngIf="sessionStatus != 'stopped'">
      <button class="session-buttons" (click) = "StopSession()"> Stop session</button>
    </div>
    <div class="curren-number">
      {{currentNo}}
    </div>
    <div class="session-summary">
      <h3>Chart session-summary</h3>
      <table>
        <tr>
          <th>Number</th>
          <th>Time</th>
        </tr>
        <tr *ngFor="let data of FlagValues">
            <td>{{data.randomNo}}</td>
            <td>{{data.time | date: 'dd-MMM-yyyy hh:mm'}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="session-container" *ngIf="sessionStatus === 'not_started'">
  <button class="session-buttons" (click)="StartSession()">START SESSION</button>
</div>
<router-outlet></router-outlet>
